/* html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: white;
}

canvas{
  /* width: 450;
  height: 500; */
  /* border: 1px black solid; */
  /* background-color: black; */
  display: block;
  /* filter: blur(10px) contrast(40); */
}
