html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas{
  /* width: 450;
  height: 500; */
  /* border: 1px black solid; */
  background-color: black;
}
