/* html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: white;
}

canvas{
  /* width: 450;
  height: 500; */
  /* border: 1px black solid; */
  /* background-color: black; */
  display: block;
  touch-action: none;
  /* filter: blur(5px) contrast(20); */
}

.container{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 15%;
  /* border: 1px solid red; */

}

.opacity{
  /* position: relative;
  bottom: 0;
  left: 1%; */
  margin: 5px;
  z-index: 25;
  background-color: rgb(255, 255, 255);
  height: 30px;
  width: 100px;
}

.dissipate{
  /* position: absolute;
  bottom: 0;
  left: 10%; */
  margin: 5px;
  z-index: 25;
  background-color: white;
  height: 30px;
  width: 100px;
}

h1{
  position: absolute;
  color: rgb(255, 255, 255);
}
